@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body {
  font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
  }

  body.modal-open {
    overflow: hidden;
  }
  